/* .sub__nav--phimbo{
    padding: 0 5px;
    top: 57px;
    left: 23.333%;
    z-index: 2;
    width: 530px; 
    display: none;
    font-size: 1.7rem;
    position: absolute;
    background:rgba(0, 4, 8, 0.8);
} */


/* 4 cột. thêm cột công thêm 130px*/

.movie-theme {
    text-transform: uppercase;
    color: aquamarine;
    font-size: 2rem;
    margin: 3rem 0 0 0;
    /* float: left; */
}

.xemtatca {
    float: right;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(255, 187, 0);
    text-transform: uppercase;
    font-weight: 100;
}

.film__grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 1.3rem;
    grid-gap: 2%;
}


.film-grid__children {
    position: relative;
    margin: 0.5rem;
}

.film__sub {
    padding: 0 0.5rem;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .39) 34%, #000 87%);
}

.film-grid__children img {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.icon--FHD {
    background-color: #ff4c00;
    border-radius: 2px;
    padding: 0 2px;
    font-size: 1.2rem
}

.fa-star {
    color: #e89105;
}

.film-views {
    font-size: 1.6rem;
}

.sub-star,
.film-episode {
    float: right;
    font-size: 1.6rem
}

.name-film {
    font-size: 2rem;
    text-transform: capitalize;
}

/* reponsive */

  @media only screen and (max-width: 800px) {
    .film__grid-container {
        grid-template-columns: auto auto;
        margin-bottom: 20px;
    }
  }