* {
    box-sizing: border-box;
}

html {
    color: white;
    background-color: #333;
    font-size: 10px;
    font-family: sans-serif;
}

main {
    margin: 0px 16% 2%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #333;
    z-index: 99999;
}

/* begin: header------------------------------------------------------------------------------------------------------*/


/* css cho thanh tim kiem */

.form__input {
    display: inline-block;
}

.search__dropdown {
    display: none;
    padding: 0 5px;
    top: 57px;
    width: 200px;
    max-height: 90%;
    overflow: auto;
    overflow-x: hidden;
    font-size: 15px;
    position: fixed;
    background: rgba(0, 4, 8, 0.8);
    z-index: -1;

}

.search__dropdown-left {
    top: 124px;
    width: 300px;
    z-index: 100000;
    left: 0;
    grid-template-columns: auto auto;
    color: white;
    max-height: 80%;

}

.search__dropdown--name {
    display: inline-block;
    text-transform: capitalize;

}

.form__input--text {
    height: 30px;
    width: 100%;
    font-size: 1.3rem;
    background: none;
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 15px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgb(190, 181, 181);
}

.form__input--text:hover {
    background: rgba(0, 4, 8, 0.8);
}

.form__input--text:focus {
    color: rgb(255, 255, 255);
    background: rgba(0, 4, 8, 0.8);
}

.search__form {
    top: -5px;
    bottom: 9px;
    float: right;
    position: relative;
}

.form__icon--search {
    top: 3px;
    height: 100%;
    right: 30px;
    font-size: 2rem;
    color: #999;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.search__user {
    top: 9px;
    right: 13px;
    width: 30px;
    height: 30px;
    color: #999;
    cursor: pointer;
    line-height: 30px;
    position: relative;
    text-align: center;
}


/* css thanh nav */

.header__nav {
    border-bottom: 1px solid;
}

nav {
    width: 100%;
    overflow: auto;
    padding-left: 14%;
    padding-right: 14%;
    list-style: none;
    display: inline-block;
}

.nav__container {
    list-style-type: none;
}

.nav__link {
    float: left;
    height: 47px;
    display: block;
    font-size: 18px;
    color: #f5f5f5;
    padding: 2px 15px;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    /* margin: 3px 5px; */
}

.nav__link:hover {
    color: aqua;
}


/* logo */

.nav__image--logo {
    padding: 0px;
    height: 40px;
    margin: 12px 0px 5px;
}


/*===================================================================================================*/

.sub__nav--theloai,
.sub__nav--quocgia,
.sub__nav--phimle,
.sub__nav--phimbo {
    padding: 0 5px;
    top: 57px;
    left: 18%;
    z-index: 2;
    width: 530px;
    /* 4 cột. thêm cột công thêm 130px*/
    display: none;
    font-size: 1.7rem;
    position: absolute;
    background: rgba(0, 4, 8, 0.8);
}

.nav__link--theloai:hover .sub__nav--theloai,
.nav__link--quocgia:hover .sub__nav--quocgia,
.nav__link--phimle:hover .sub__nav--phimle,
.nav__link--phimbo:hover .sub__nav--phimbo {
    display: block;
}

.sub__nav--theloai>li,
.sub__nav--quocgia>li,
.sub__nav--phimle>li,
.sub__nav--phimbo>li {
    list-style-type: none;
}

.sub__nav--theloai a:hover,
.sub__nav--quocgia a:hover,
.sub__nav--phimle a:hover,
.sub__nav--phimbo a:hover {
    color: aqua;
}

.sub__link>a {
    float: left;
    padding: 0 10px;
    width: 13rem;
    color: #f5f5f5;
    line-height: 3rem;
    text-decoration: none;
    text-transform: capitalize;
}


/* ===================login form =================*/

.nav__login--form {
    position: fixed;
    height: 100%;
    max-width: 300px;
    background: rgba(0, 4, 8, 0.8);
    top: 0;
    z-index: 1000;
    right: -300px;
}

.nav__signup--form {
    position: fixed;
    height: 100%;
    max-width: 300px;
    background: rgba(0, 4, 8, 0.8);
    top: 0;
    display: none;
    right: -300px;
    z-index: 999;
}

.form--close--button {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.form--title {
    text-align: center;
    margin: 10% 5% 0 0;
    font-size: 2rem;
}

.form-input-material {
    margin: 0px 10px;
}

.label--username,
.label--password {
    font-size: 15px;
    margin: 5% 0 0 0;
}

.form-control-material {
    width: 100%;
}

.form-btn-submit {
    font-size: 1.7rem;
    display: block;
    padding: 10px;
    margin: 5% auto;
    color: white;
    border: none;
    background: rgba(4, 110, 110, 0.8);
}

.form-btn-submit:hover {
    background: rgba(4, 110, 110, 0.4);
    cursor: pointer;
}

.form--more {
    width: fit-content;
    margin: 5% auto;
    font-size: 1.7rem;
}

.form--more-button,
.form--more-button-signup {
    background-color: none;
    color: aqua;
}

.form--more-button:hover,
.form--more-button-signup:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* notify login form */
.nav__notify-success,
.nav__notify-error {
    width: auto;
    padding: 10px;
    top: 10px;
    right: 10px;
    font-size: 15px;
    position: fixed;
    z-index: 10000;
    border-radius: 5px;
    display: none;
}

.nav__notify-success {
    background-color: rgb(43, 202, 29);
    animation: notify 5s forwards;
}

.nav__notify-error {
    background-color: rgb(202, 55, 29);
    animation: notify 5s forwards;
}

/* animation cho form */

.nav--login--form-On {
    animation: loginOn 1s forwards;
}

.nav--login--form-Off {
    right: 0%;
    animation: loginOff 2s forwards;
}

@keyframes loginOn {
    form {
        right: -100%;
    }

    to {
        right: 0%;
    }
}

@keyframes loginOff {
    form {
        right: 0%;
    }

    to {
        right: -100%;
    }
}

@keyframes notify {
    form {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

/*begin  nav_left ========================================================*/
/* nav thu gọn */
.nav--close--button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 26px;
    cursor: pointer;
    user-select: none;
}

.nav__menu--icon {
    float: left;
    margin: 10px 0 0 20px;
    display: none;
}

.nav__menu--icon>div {
    width: 35px;
    height: 2px;
    background-color: rgb(233, 230, 230);
    margin: 6px 0;
}

.nav__menu--left {
    position: fixed;
    height: 100%;
    max-width: 300px;
    overflow: auto;
    background: rgba(0, 4, 8, 0.8);
    top: 0;
    left: -300px;
    z-index: 1000;
    /* display: none; */
    padding: 0;

}


.nav-left__search-form {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.form__input-ipad {
    display: inline-block;
    width: 89%;
    margin: 0 0 0 5%;
}

.form-left__icon--search {
    color: #999;
    top: 15%;
    position: absolute;
    right: 8%;
    font-size: 20px;
    cursor: pointer;
}

.nav-left__image--logo {
    width: 90px;
}

.nav__ipad {
    padding: 0px 10px;
    font-size: 15px;
}

.nav__ipad>li>a {
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    margin: 10px 10px;
    color: white;
    width: 92px;

}

.sub__nav--ipad--theloai,
.sub__nav--ipad--quocgia,
.sub__nav--ipad--phimle,
.sub__nav--ipad--phimbo {
    padding: 0;
    margin-left: 38px;
    z-index: 2;
    display: none;
    /* 4 cột. thêm cột công thêm 130px*/
    /* display: none; */
    font-size: 14px;
    /* background: rgba(0, 4, 8, 0.8); */
}

.nav--ipad__link--theloai:hover .sub__nav--ipad--theloai,
.nav--ipad__link--quocgia:hover .sub__nav--ipad--quocgia,
.nav--ipad__link--phimle:hover .sub__nav--ipad--phimle,
.nav--ipad__link--phimbo:hover .sub__nav--ipad--phimbo {
    display: grid;
    grid-template-columns: auto auto;
}

.sub__nav--ipad--theloai>li,
.sub__nav--ipad--quocgia>li,
.sub__nav--ipad--phimle>li,
.sub__nav--ipad--phimbo>li {
    list-style-type: none;
}

.sub__nav--ipad--theloai a:hover,
.sub__nav--ipad--quocgia a:hover,
.sub__nav--ipad--phimle a:hover,
.sub__nav--ipad--phimbo a:hover {
    color: aqua;
}

.sub--ipad__link>a {
    padding: 0 10px;
    color: #f5f5f5;
    line-height: 3rem;
    text-decoration: none;
    text-transform: capitalize;
}

/* animation */
.nav--left-On {
    animation: navOn 1s forwards;
}

.nav--left-Off {
    left: 0%;
    /* tu vi tri 0% -> -100%. ko bi mất animation */
    animation: navOff 2s forwards;
}

@keyframes navOn {
    form {
        left: -100%;
    }

    to {
        left: 0%;
    }
}

@keyframes navOff {
    form {
        left: 0%;
    }

    to {
        left: -100%;
    }
}



/*end nav_left ========================================================*/
/*====================================================================================================*/
/*thông tin người dùng*/
.header__information {
    position: fixed;
    height: 100%;
    max-width: 300px;
    background: rgba(0, 4, 8, 0.8);
    top: 0;
    display: none;
    right: -100%;
    z-index: 999;
}

.navbar-user {
    padding: 1.3rem;
}

/* .fa-window-close{
    font-size: 3.5rem;
    color: rgb(253, 253, 253);
} */

.clear-box {
    clear: both;
}

.user-avatar {
    width: 12rem;
    float: right;
    border-radius: 50%;
}

.wellcome-user {
    position: absolute;
    top: 9.5rem;
    left: 1rem;
    font-size: 2rem;
}

.navbar-user>a {
    font-size: 1.7rem;
    margin: 1rem 2.5rem 0 0;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.fas {
    margin-right: 14px;
}

.navbar-user-body>a {
    font-size: 2rem;
    text-decoration: none;
    display: block;
    margin: 1rem;
    color: white;
    font-weight: 100;
}

/*end : header --------------------------------------------------------------------------------------------------------*/


/*footer__table*/


/* footer */
footer {
    font-size: 14px;
    text-align: center;
}

.footer__icon--top {
    right: 3%;
    width: 50px;
    bottom: 7%;
    position: fixed;
}

.footer__icon {
    font-size: 20px;
    color: white;
    margin: 10px;

}

/*begin main*/
/*hover film children*/
.film-grid__children img,
.film-grid__children .film__sub {
    transition-duration: 0.4s;
}

.film-grid__children:hover img,
.film-grid__children:hover .film__sub {
    transform: scale(1.05);
}

.film-grid__children:hover .film__sub {
    bottom: -10px;
}

/*end hover film children*/


/*end main*/

/* reponsvie */
@media only screen and (max-width: 1220px) {
    main {
        margin: 0 13%;
    }

    nav {
        padding: 0 6%;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        margin: 0 7%;
    }

    nav {
        padding: 0 1%;
    }
}

@media only screen and (max-width: 900px) {
    .nav__container>li {
        display: none;
    }

    .nav__menu--left,
    .nav__menu--icon {
        display: block;
    }

    .nav__menu--icon {
        margin: 0 0 0 20px;
    }

    .search__user {
        top: 4px;
    }

    .nav__image--logo {
        margin: 0;
    }

    nav {
        padding: 0 6%;
    }

    .form__input,
    .fa {
        display: none !important;

    }
}

@media only screen and (max-width: 800px) {
    main {
        margin: 0 6%;
    }

    nav {
        padding: 0 6%;
    }

}

@media only screen and (max-width: 480px) {
    html {
        font-size: 7px;
    }
}

@media only screen and (max-width: 325px) {
    html {
        font-size: 5px;
    }
}

table {
    width: 100%;
    font-size: 25px;
}

th,
td {
    padding: 15px;
    text-align: left;
}